#collection_for.collections
  %h1 Collections for #{@username}
  %h3 #{@no_collection}
  - @collections.each do |col|
    .collection_box
      %h2.col= '• ' + col.title + ' •'
      %span
        -# .show= link_to("Show",  {action: "show", id: "col.id"})
        .show= link_to("Show", {:action => 'show', :id => col.id })
        -# .edit= link_to("Edit",  {action: "edit", id: "col.id"})
        .edit= link_to("Edit", {:action => 'edit', :id => col.id})
        -# .delete= link_to("Delete",  {action: "delete", id: "col.id"})
        .delete= link_to("Delete",  {:action => 'delete', :id => col.id})
