= link_to("<< Back to Recipes List", {:action => 'index'}, :class => 'back_button')
#new_collection_wrap
  %h2 New collection
  = simple_form_for(@collection) do |f|
    %h2#update_name Collection Name
    = f.text_field(:title, as: :string, autofocus: "true", maxlength: 100)
    -# %h2#update_desc Description
    -# = f.text_area(:description, as: :text, maxlength: 110)
    -# %h2#update_ing Ingredients
    -# = f.text_area(:ingredients, as: :text)
    -# %h2#update_prep Preparation
    -# = f.text_area(:preparation, maxlength: 2000)
    -# %h2#update_time Ready In
    -# = f.text_field(:ready_in, placeholder: "30 min")
    -# %h2#update_servings Servings
    -# = f.text_field(:servings)
    -# %h2#update_tags Tags
    -# = f.text_field(:tags)
    -# %h2#update_img Image
    -# = f.file_field(:image)
    #creator= f.hidden_field(:user, :value => current_user.username)
    #new_button
      = submit_tag("Create collection")
