#show_movie.movies
  .back_button= link_to("Return to movies", {action: "index"})
  %h2 #{@movie.title}
  %h2 #{@movie.director}
  %h2 #{@movie.genre}
  %h2 #{@movie.rating}
  -# .item_box
  -#   #book_button= link_to("Books", new_collection_book_path(collection_id: @collection.id))
