#electronics_for.electronics
  .back_button= link_to("Return to collections", {controller: "Collections", action: "index"})
  %h1 Electronics in #{current_user.username.capitalize}'s collection:
  %h3 #{@no_electronics}
  .electronics_box

    - @electronics.each do |electronic|
      .electronic_box
        -# %h3.electronic_list= '"'+electronic.title+'"'+'  by: '+electronic.author.to_s+'  genre: '+electronic.genre.to_s+"  rating: "+electronic.rating.to_s
        %h3.electronic_list= '"'+electronic.name+'"'
        %h3.electronic_list= 'Serial number: '+electronic.serial.to_s
        .show= link_to("Show",  {action: "show", id: electronic.id})
        -#   .edit= link_to("Edit",  {action: "edit", id: "electronic.id"})
        -#   .delete= link_to("Delete",  {action: "delete", id: electronic.id})
    %button#add_electronic.add_button= link_to("Add electronic", new_collection_electronic_path(collection_id: @collection.id))
