#electronics_for.electronics
  .back_button= link_to("Return to collections", {controller: "Collections", action: "index"})
  -# %h1 Electronics in #{current_user.username.capitalize}'s collection:
  %h1 - Electronics -
  %h3 #{@no_electronics}
  .electronics_box
    - @electronics.each do |electronic|
      .electronic_box
        %h3.electronic_list= link_to('"'+electronic.name+'"', collection_electronic_path(id: electronic.id, collection_id: @collection.id))
    %button#add_electronic.add_electronic= link_to("Add electronic", new_collection_electronic_path(collection_id: @collection.id))
