#show_book.books
  .back_button= link_to("Return to books", {action: "index"})
  %h2 #{@book.title}
  %h2 #{@book.author}
  %h2 #{@book.genre}
  %h2 #{@book.rating}
  -# .item_box
  -#   #book_button= link_to("Books", new_collection_book_path(collection_id: @collection.id))
