#albums_for.albums
  .back_button= link_to("Return to collections", {controller: "Collections", action: "index"})
  %h1 Albums in #{current_user.username.capitalize}'s collection:
  %h3 #{@no_albums}
  .albums_box
    - @albums.each do |album|
      .album_box
        %h3.album_list= link_to('"'+album.title+'"', {action: "show", id: album.id})
    %button#add_album.add_button= link_to("Add album", new_collection_album_path(collection_id: @collection.id))
