#show_album.albums
  .back_button= link_to("Return to albums", {action: "index"})
  %h2 "#{@album.title}"
  %h4 Artist: #{@album.artist}
  %h4 Genre: #{@album.genre}
  %h4 Rating: #{@album.rating}
  -# .edit= link_to("Edit",  {action: "edit", id: "album.id"})
  .delete= link_to("Delete",  delete_collection_album_path(id: @album.id, collection_id: @collection.id))
