!!!
%html
  %head
    %title What I Got
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
  %body
    %header
      %ul.main_navigation
        %h4#welcome_tag Welcome to
        %h1#title_tag What I Got
        %h4.show-for-large-up#tagline your home media manager
        .devise_navigation
          -unless user_signed_in?
            %li= link_to "Sign up", new_user_registration_path
          -if user_signed_in?
            %li= link_to 'Sign out', destroy_user_session_path, method: 'delete'
          -else
            %li= link_to 'Sign in', new_user_session_path
        - if user_signed_in?
          %li.action_my_collections= link_to("View collections", collections_path )
          %li.action_my_collections= link_to("New collection", new_collection_path )
          %li
            %h2#user Logged in as: #{@username.capitalize}
    .alert= alert
    .notice= notice
    = yield
